.resume-button2 {
  position: relative;
  width: 150px;
  height: 60px;
  cursor: pointer;
  display: flex;
  color: #b1dae7;
  align-items: center;
  border: 1px solid #00BFA6;
  border-radius: 60px;
  background-color: #05081c;
  overflow: hidden;

  &,
  .resume-button2-icon,
  .resume-button2-text {
    transition: all 0.3s;
  }

  .resume-button2-text {
    transform: translateX(20px);
    color: #fff;
    font-weight: 600;
  }

  .resume-button2-icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #00BFA6;
    display: flex;
    align-items: center;
    justify-content: center;

    .svg {
      width: 20px;
      fill: #fff;
    }
  }

  &:hover {
    background: #00BFA6;

    .resume-button2-text {
      color: transparent;
    }

    .resume-button2-icon {
      width: 190px;
      transform: translateX(-20px);
    }
  }

  &:active {
    border: 1px solid #00BFA6;

    .resume-button2-icon {
      background-color: #00BFA6;
    }
  }
}
